*
{
    transition-property: all;
    transition-duration: 0.45s;
}

html, body
{
    margin: 0;
    padding: 0;
}

body
{
    background-color: #E7FFE6;
}

header
{
    width: 100%;
    height: 140px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 16px;
    background-color: #6FE572;
    border-bottom: 1px solid #A0EAA7;
    box-sizing: border-box;
}

.header-content
{
    color: white;
    text-align: center;
    margin: auto;
    letter-spacing: 2px;
}

.header-content h1
{
    font-size: 50px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.header-content p
{
    font-size: 24px;
    margin-top: 6px;
    margin-bottom: 15px;
}

main
{
    margin: 140px 25px 0;
    box-sizing: border-box;
}

.page-width
{
    max-width: 750px;
    height: 100%;
    margin: auto;
    padding: 2px;
    background-color: #BCFFB9;
}

.stat-container, .round-container
{
    margin: 2px 15px;
    border-radius: 3px;
    border: 2px solid #4C65AD;
    border-color: #E0FAFF #086887 #086887 #E0FAFF;
    background-color: #76D3FF;
    width: 125px;
    padding: 8px 15px 8px 15px;
    box-sizing: border-box;
    line-height: 22px;
}

.stat-container p, .round-container p
{
    margin: 5px auto;
}

.com-container, .you-container
{
    margin: auto;
}

.card-container
{
    text-align: center;
    clear: both;
    margin: 12px 0;
    padding: 8px 0 0;
}

.com-container .card-container
{
    text-align: center;
    clear: both;
    margin: 10px 0 0;
    padding: 5px 0;
}

.card
{
    display: inline-block;
    height: 130px;
    width: 130px;
    margin: 12px;
    background-color: #90FF76;
    border: 1px solid #7FEA61;
    border-radius: 5px;
    backface-visibility: hidden;
}

.you-container .card-container .card:hover
{
    cursor: pointer;
    transform: scale(1.125, 1.125);
    transition-delay: 0.01s;
}

.com-container .card-container .card
{
    height: 100px;
    width: 100px;
}

.stat-container
{
    font-weight: bold;
}

.stat-container > p:first-child
{
    text-decoration: underline;
}

.key-container
{
    display: block;
    float: left;
    font-weight: bold;
}

.value-container
{
    display: block;
    float: right;
    font-weight: normal;
    font-style: italic;
}

.com-container .stat-container
{
    float: left;
    clear: left;
}

.you-container .stat-container
{
    float: right;
    clear: right;
}

.round-container
{
    float: left;
    clear: left;
    background-color: #76D3FF;
}

.announcement-container
{
    width: 200px;
    text-align: center;
    clear: both;
    margin: auto;
    padding: 5px 0;
    font-size: 30px;
}

.announcement-container h2
{
    margin: 25px 0;
}

.tool-tip
{
    width: 92%;
    margin: 5px auto 10px;
    padding: 3px 40px;
    background-color: #FF9E80;
    box-sizing: border-box;
    letter-spacing: 2px;
    border-radius: 8px;
    border: 1px solid #DC9F78;
}

.tool-tip p
{
    margin: 4px 2px;
}

.footer-container
{
    position: relative;
    bottom: 0;
    left: 0;
    padding: 3px 27px;
    font-size: 12px;
    width: 100%;
    height: auto;
    background-color: #6EE869;
    margin: 0;
    box-sizing: border-box;
}

.footer-container p
{
    margin: 2px;
}

@media screen and (max-width: 600px)
{
    header
    {
        height: 90px;
        padding: 4px;
    }

    .header-content h1
    {
        font-size: 30px;
    }

    .header-content p
    {
        font-size: 17px;
        letter-spacing: 1px;
    }

    main
    {
        margin: 90px 10px 0;
        box-sizing: border-box;
    }

    .stat-container, .round-container
    {
        margin: 2px 15px;
        width: 125px;
        padding: 4px 8px;
        line-height: 15px;
    }

    .stat-container p, .round-container p
    {
        margin: 3px auto;
    }

    .card-container
    {
        margin: 0;
    }

    .card
    {
        height: 90px;
        width: 90px;
        margin: 18px 8px 10px;
    }


    .you-container .card-container .card:hover
    {
        transform: scale(1.085, 1.085);
    }

    .com-container .card-container .card
    {
        height: 65px;
        width: 65px;
        margin: 8px 12px 10px;
    }

    .announcement-container h2
    {
        margin: 20px 0;
        font-size: 25px;
    }

    .tool-tip
    {
        margin: 5px auto 10px;
        padding: 3px 40px;
        letter-spacing: 0;
    }

    .tool-tip p
    {
        margin: 2px 2px;
        font-size: 14px;
    }
}
